/* io 遮罩*/
.lg-mask {
	//background-color: black;
	//.opacity(0.1);

	z-index: 101;
	position: fixed;
}
.lg-ajax-loading {
	/*background-image: url('./imgs/load.gif');*/
	background-position: center center;
	background-repeat: no-repeat;
	.ui{
		background-color: transparent !important;
		border: 0 !important;
		box-shadow: none !important;
		.loader{
			width: 3em;
			height: 3em;
			&:before{
				width: 3em;
				height: 3em;
			}
			&:after{
				width: 3em;
				height: 3em;
				border-color: #ff3000 transparent transparent;
			}
		}
	}
}
